<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Domino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/kioskboard@1.4.0/dist/kioskboard-1.4.0.min.css" />
    </head>
    <body>

        <div class="selection">
          <div class="menu">
            <div class="item offers">Angebote</div>
            <div class="item save">Speichern</div>
            <div class="item collections"><a href="/collections">Bildreihen</a></div>
            <div class="item imprint">Impressum</div>
          </div>

          <!--<div class="menu-container">
            <div class="col">
              <div class="menu-item">Bild an Bild</div>
              <div class="menu-item">Domino</div>
              <div class="menu-item">per Zufall</div>
              <div class="menu-item">zu Gast</div>
              <div class="menu-item">Website JS</div>
            </div>
            <div class="col">
              <div class="menu-item">BenutzerInnenname</div>
              <div class="menu-item">Titel, Kommentar</div>
              <div class="menu-item">Archiv BesucherInnen</div>
              <div class="menu-item">Archiv JS</div>
            </div>
            <div class="col">
              <div class="menu-item">Konzept</div>
              <div class="menu-item">Umsetzung</div>
              <div class="menu-item">SponsorInnen</div>
              <div class="menu-item">Kontakt</div>
            </div>
          </div>-->

          <div class="images">
          </div>

          <script id="image-template" type="x-tmpl-mustache">
            <div class="img-container {{image.Grösse}} {{image.Ausrichtung}}" data-info="{{info}}"
            style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
            unselectable="on" onselectstart="return false;" onmousedown="return false;">
              <img src="https://archiv.juergstraumann.ch/{{image.path}}" draggable="false">
              <div class="overlay">
                <div>
                  <span class="title">{{image.Titel}}</span> [{{image.Nummer}}]<br>
                  <br>
                  <span class="format">{{image.Techniken}}</span><br>
                  <span class="format">{{image.Format}}cm, {{image.Jahr}}{{#image.Status}}, {{image.Status}}{{/image.Status}}</span><br>
                </div>
                <div class="remove-preview"><img src="delete.svg"></div>
              </div>
            </div>
          </script>

          <div class="image-scroll scroll-left">&laquo;</div>
          <div class="image-scroll scroll-right">&raquo;</div>
        </div>

        <div class="filters">
          <% (1..7).each do |col| %>
            <div class="column">
              <% @filters.select{ |f| f.column == col }.each do |filter| %>
                <div class="category">
                  <h3><%= filter.category %></h3>
                  <% if filter.heading %>
                    <h5><%= filter.heading %></h5>
                  <% end %>
                  <div class="content">
                    <% filter.filters.each do |f| %>
                      <% if f.codes %>
                        <div class="filter" data-kind="<%= f.kind || filter.kind %>" data-codes="<%= CGI.escapeHTML f.codes.to_json %>">
                          <div class="indicator <%= 'active' if (params[:filter] || []).index((f.kind || filter.kind) + "=" + f.codes.first) %>"></div>
                          <%= f.name %>
                        </div>
                      <% else %>
                        <div class="filter">&nbsp;</div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="hud bottom actions">
          <div class="line">Auswahl <input type="text" class="hud-count" readonly value="<%= @stats['total'] %>"></div>
          <div class="line"><input type="submit" class="hud-show" value="Anzeigen"></div>
          <div class="line"><input type="submit" class="hud-reset" value="Neuauswahl"></div>
        </div>

        <div class="choice">
          <div class="hud top goback">
            <div class="line"><input type="submit" class="choice-back" value="Zurück"></div>
          </div>
          <div class="images">
            <% @images.each do |image| %>
              <img src="https://archiv.juergstraumann.ch/<%= image['thumb'] %>" data-info="<%= CGI.escapeHTML image.to_json %>"
                style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
                unselectable="on" onselectstart="return false;" onmousedown="return false;" loading="lazy">
            <% end %>
          </div>
        </div>

        <div class="fragments">
          <div class="collections">
            TEST TEST
          </div>
          <div class="offers">
            <div class="offer" data-name="Best Of">
              <p>Best Of</p>
              <img src="trophy.svg">
              <button class="offer-info">Infos</button>
              <button class="offer-start">Starten</button>
            </div>
            <div class="offer" data-name="Domino">
              <p>Domino</p>
              <img src="domino.svg">
              <button class="offer-info">Infos</button>
              <button class="offer-start">Starten</button>
            </div>
            <div class="offer" data-name="Per Zufall">
              <p>Per Zufall</p>
              <img src="shuffle.svg">
              <button class="offer-info">Infos</button>
              <button class="offer-start">Starten</button>
            </div>
            <div class="offer" data-name="Kuckucksei">
              <p>Kuckucksei</p>
              <img src="bird.svg">
              <button class="offer-info">Infos</button>
              <button class="offer-start">Starten</button>
            </div>
            <div class="offer" data-name="Website JS">
              <p>Website JS</p>
              <img src="web.svg">
              <button class="offer-info">Infos</button>
              <button class="offer-start">Starten</button>
            </div>
          </div>
          <div class="offers-bestof">
            <ul>
              <li>Klicke auf eine Kategorie deiner Wahl. Um die Auswahl einzugrenzen, kannst du weitere Kategorien aus anderen Rubriken anwählen. Die Anzahl Resultate wird im Feld „Ausgewählt“ angezeigt.</li>
              <li>Klicke auf „Anzeigen“, um die entsprechenden Bilder zu sehen.</li>
              <li>Durch das Anklicken eines bestimmten Bildes erscheint dieses in der Bildreihe oben. Durch erneutes Anklicken kannst du dieses Bild allenfalls auch wieder löschen.</li>
              <li>Zur Fortsetzung auf „Neuauswahl“ klicken, um nach deinen eigenen Kriterien ein weiteres Bild zu suchen und anzuhängen.</li>
              <li>Sobald du die Aktion beenden möchtest, kannst du deine Reihe unter deinem wirklichen oder einem Fantasienamen abspeichern.</li>
              <li>Gerne kannst du deiner Auswahl einen Titel geben und /oder einen Kommentar beifügen.</li>
              <li>Du kannst dir auch die Reihen anderer Benutzer*innen anschauen.</li>
            </ul>
          </div>
          <div class="offers-domino">
            <ul>
              <li>Klicke auf eine Kategorie deiner Wahl. Um die Auswahl einzugrenzen, kannst du weitere Kategorien aus anderen Rubriken anwählen. Die Anzahl Resultate wird im Feld „Ausgewählt“ angezeigt.</li>
              <li>Klicke auf „Anzeigen“, um die entsprechenden Bilder zu sehen.</li>
              <li>Durch das Anklicken eines bestimmten Bildes erscheint dieses in der Bildreihe oben. Durch erneutes Anklicken kannst du dieses Bild allenfalls auch wieder löschen.</li>
              <li>Zur Fortsetzung auf „Neuauswahl“ klicken. Wie beim Legespiel Domino müssen für das richtige Aneinanderfügen der Bilder mindestens zwei Kriterien übereinstimmen. Je abwechslungsreicher und länger die Reihe, desto besser!</li>
              <li>Sobald du die Aktion beenden möchtest, kannst du deine Auswahl unter deinem wirklichen oder einem Fantasienamen abspeichern.</li>
              <li>Gerne kannst du deiner Reihe einen Titel geben und /oder einen Kommentar beifügen.</li>
              <li>Du kannst dir auch die Reihen anderer Benutzer*innen anschauen.</li>
            </ul>
          </div>
          <div class="offers-perzufall">
            <p>Hier wird dir eine völlig zufällige Auswahl aus dem Bildarchiv JS vorgeführt, quer durch alle Techniken, Motive und Jahrzehnte. Durch einfaches Wischen kannst du das Tempo der Betrachtung selber bestimmen.</p>
          </div>
          <div class="offers-kuckucksei">
            <ul>
              <li>Die Bilderwelt von JS ist äusserst vielfältig. Gibt es trotzdem so etwas wie einen gemeinsamen inneren, persönlichen Klang? Ist es möglich, diesen (z.B. nach längerem Betrachten der Zufallsauswahl) zu erfassen und danach festzustellen, welches der jeweils 8 Bilder nicht von JS stammt?</li>
              <li>Klicke auf das entsprechende Bild.</li>
              <li>Die Antwort wird dir umgehend angezeigt!</li>
            </ul>
          </div>
          <div class="offers-websitejs">
            <a href="https://www.juergstraumann.ch">www.juergstraumann.ch</a>
          </div>
          <div class="imprint">
            <h4>Konzept</h4>
            <p>Jürg Straumann, Bern</p>
            <h4>Umsetzung</h4>
            <p>Lukas Diener, Bern</p>
            <h4>Sponsor*innen</h4>
            <p>Sponsor*innen zur Weiterentwicklung des Projekts sind jederzeit willkommen!</p>
            <h4>Kontakte</h4>
            <p>jstraumann@sunrise.ch<br>
                lukas.diener@code-fabrik.ch</p>
          </div>
        </div>

        <script src="https://code-fabrik.github.io/badgui/badgui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/kioskboard@1.4.0/dist/kioskboard-1.4.0.min.js"></script>
        <script src="javascripts/smoothscroll.js"></script>
        <script src="javascripts/querystring.js"></script>
        <script src="javascripts/selection.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>
