<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Domino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>

        <div class="upper">
          <% @images.each do |image| %>
            <img src="https://archiv.juergstraumann.ch/<%= image %>">
          <% end %>
        </div>

        <div class="lower">
          <div class="filter">
            <% Filter.all.each do |filter| %>
              <div class="category">
                <div class="head">
                  <h3><%= filter.category %></h3>
                  <% if filter.heading %>
                    <h5><%= filter.heading %></h5>
                  <% end %>
                </div>
                <div class="filters">
                  <% filter.filters.each do |f| %>
                    <div class="filter" data-kind="<%= filter.kind %>"  data-code="<%= f.code %>"><%= f.name %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="hud">
            <div class="line">Auswahl <input type="text" class="hud-count" readonly value="<%= @images.count %>"></div>
            <div class="line"><input type="submit" class="hud-show" value="Anzeigen"></div>
            <div class="line"><input type="submit" class="hud-cancel" value="Neuauswahl"></div>
          </div>
        </div>

        <script src="javascripts/querystring.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>
