<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Domino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>

        <div class="selection">
          <div class="menu">
            <div class="item">Angebote</div>
            <div class="item save">Speichern</div>
            <div class="item">Impressum</div>
          </div>

          <div class="images">
          </div>

          <script id="image-template" type="x-tmpl-mustache">
            <div class="img-container {{image.Grösse}} {{image.Ausrichtung}}" data-info="{{info}}">
              <img src="https://archiv.juergstraumann.ch/{{image.path}}">
              <div class="overlay">
                <div>
                  <span class="title">{{image.Titel}}</span>
                  <br>
                  {{image.Jahr}}
                </div>
                <div class="remove-preview"></div>
              </div>
            </div>
          </script>

          <div class="image-scroll scroll-left">&laquo;</div>
          <div class="image-scroll scroll-right">&raquo;</div>
        </div>

        <div class="filters">
          <% (1..7).each do |col| %>
            <div class="column">
              <% @filters.select{ |f| f.column == col }.each do |filter| %>
                <div class="category">
                  <h3><%= filter.category %></h3>
                  <% if filter.heading %>
                    <h5><%= filter.heading %></h5>
                  <% end %>
                  <div class="content">
                    <% filter.filters.each do |f| %>
                      <% if f.code %>
                        <div class="filter" data-kind="<%= filter.kind %>" data-code="<%= f.code %>">
                          <div class="indicator <%= 'active' if (params[:filter] || []).index(filter.kind + "=" + f.code) %>"></div>
                          <%= f.name %>
                        </div>
                      <% else %>
                        <div class="filter">&nbsp;</div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="hud bottom actions">
          <div class="line">Auswahl <input type="text" class="hud-count" readonly value="<%= @stats['total'] %>"></div>
          <div class="line"><input type="submit" class="hud-show" value="Anzeigen"></div>
          <div class="line"><input type="submit" class="hud-reset" value="Neuauswahl"></div>
        </div>

        <div class="choice">
          <div class="hud top goback">
            <div class="line"><input type="submit" class="choice-back" value="Zurück"></div>
          </div>
          <div class="images">
            <% @images.each do |image| %>
              <img src="https://archiv.juergstraumann.ch/<%= image['thumb'] %>" data-info="<%= CGI.escapeHTML image.to_json %>">
            <% end %>
          </div>
        </div>

        <script src="https://code-fabrik.github.io/badgui/badgui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
        <script src="javascripts/smoothscroll.js"></script>
        <script src="javascripts/querystring.js"></script>
        <script src="javascripts/selection.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>
